<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout::layout(~{::body/content()})}">

<body id="main">
	<div class="content-wrapper">
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">プロジェクト新規登録</h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Project</li>
						</ol>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>

		<div class="content">
			<div class="container">
				<div class="row mb-2">プロジェクト作成</div>
			</div>
			<div class="conetent">
				<div class="container form-container">
					<div class="row">
						<div class="col-md-12">
							<div class="card card-primary">
								<div class="card-header">
									<h3 class="card-title">
										入力欄
									</h3>
								</div>
								<form action="">
									<div class="card-body">
										<div class="form-group">
											<label for="name" class="form-label">
												プロジェクト名
											</label>
											<input type="text" name="name" id="name" class="form-control col-10"
												placeholder="プロジェクトを入力してください。">
										</div>
										<div class="form-group">
											<label for="endUser">
												エンドユーザ
											</label>
											<input type="text" name="endUser" id="endUser" class="form-control col-10"
												placeholder="エンドユーザを入力してください。">
										</div>
										<div class="form-group">
											<label for="permanentResidence" class="form-label">
												常駐先現場名
											</label>
											<input type="text" name="permanentResidence" id="permanentResidence"
												class="form-control col-10" placeholder="常駐先現場名を入力してください。">
										</div>
										<div class="form-group">
											<label for="participationPeriod">
												参画期間
											</label>
											<div class="form-inline">
												<input type="date" name="participationPeriodFrom"
													id="participationPeriodFrom" class="form-control col-3">
												<span class="ms-2">~</span>
												<input type="date" name="participationPeriodTo"
													id="participationPeriodTo" class="form-control col-3 ms-2">
											</div>
										</div>
										<div class="form-group">
											<label for="member">
												プロジェクトメンバ
											</label>
											<input type="text" name="member" id="member" class="form-control col-10"
												placeholder="プロジェクトメンバを入力してください。">
										</div>
										<div class="form-group">
											<label for="workHours">
												勤務時間
											</label>
											<div class="form-inline">
												<input type="time" name="workHoursFrom" id="workHoursFrom"
													class="form-control col-3">
												<span class="ms-2">~</span>
												<input type="time" name="workHoursTo" id="workHoursTo"
													class="form-control col-3 ms-2">
											</div>
										</div>
									</div>
									<div class="card-footer">
										<button type="submit" class="btn btn-primary float-right">
											登録内容確認
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>